{% extends "core/base.html" %} {% load static %} {% block title %}Patient
Homepage{% endblock %} {% block content %}
<h1 class="text-center text-xl font-bold mb-6">Patient Homepage</h1>

<div class="grid grid-cols-2 gap-6 p-6">
  <div class="bg-white border rounded-lg h-40 flex items-center justify-center">
    Box 1
  </div>
  <div class="bg-white border rounded-lg h-40 flex items-center justify-center">
    Box 2
  </div>
  <div class="bg-white border rounded-lg h-40 flex items-center justify-center">
    Box 3
  </div>
  <div class="bg-white border rounded-lg h-40 flex items-center justify-center">
    Box 4
  </div>
</div>
{% endblock %}
